---
import Layout from "../layouts/Layout.astro";
import TopAppBar from "../components/TopAppBar.astro";
import Hero from "../components/Hero.astro";
import WhatIsHawza from "../components/WhatIsHawza.astro";
import Difference from "../components/Difference.astro";
import LifeInQom from "../components/LifeInQom.astro";
import Curriculum from "../components/Curriculum.astro";
import EnrollmentPath from "../components/EnrollmentPath.astro";
import OnlineCTA from "../components/OnlineCTA.astro";
import Footer from "../components/Footer.astro";
import MobileBottomNav from "../components/MobileBottomNav.astro";
---

<Layout title="Babalridha Hawza | Sacred Knowledge for the Modern World">
  <TopAppBar />
  <main>
    <Hero />
    <WhatIsHawza />
    <Difference />
    <LifeInQom />
    <Curriculum />
    <EnrollmentPath />
    <OnlineCTA />
  </main>
  <Footer />
  <MobileBottomNav />
</Layout>
